body {
  width: 70%;
  height: 700%;
  /*  background-image: url('HYF.png'); */
  background-image: url("holi.jpg");
 /*  background-color: black; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  
}
canvas {
  transition-duration: 7s;
  position: absolute;
}
img {
  width: 200px;
  height: 200px;
  /*  border: 1px solid gray; */
  border-radius: 50%;
  transition: transform, opacity;
  transition-duration: 10s;
  position: absolute;
}


p {
  visibility: hidden;
}



#HYF {
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;
  font-style: bold;
  animation: HYFText 6s;
  animation-fill-mode: forwards;
}
@keyframes HYFText {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(44, 11, 99);
    left: 130px;
  }
  to {
    font-size: 70px;
    left: 200px;
    color: yellowgreen;
  }
}
#holi {
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;

  animation: holiText 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
@keyframes holiText {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(215, 163, 228);
    left: 30px;
  }
  to {
    font-size: 70px;
    left: 200px;
    color: rgb(42, 46, 104);
  }
}
#and {
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;

  animation: andText 2s;
  animation-delay: 3s;
  animation: nowruz 12s;
  animation-fill-mode: forwards;
}
@keyframes andText {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(175, 153, 53);
    right: 0px;
  }
  to {
    font-size: 70px;
    right: 200px;
    color: rgb(65, 186, 202);
  }
}
/* #nowruz {
  visibility: visible;
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;

  animation: nowruzText 4s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
@keyframes nowruzText {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(44, 11, 99);
    left: 13px;
  }
  to {
    font-size: 70px;
    left: 200px;
    color: rgb(53, 11, 63);
    visibility: visible;
  }
} */
#nowruz{
  visibility: hidden;
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;
  font-style: bold;
  animation-delay: 3s;
  animation: nowruz 12s;
  animation-fill-mode: forwards;
}
@keyframes nowruz {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(44, 11, 99);
    left: 13px;
  }
  to {
    font-size: 130px;
    top:400px;
    left: 400px;
    color: rgb(176, 39, 221);
    visibility: visible;
  }
}
/* #image {
visibility: hidden;
  animation: HYFpic 6s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  
}
@keyframes HYFpic {
  from {
    visibility: visible;
    align-content: center;
    
    }
  to {
    top:0px;
    width:200%;
    height: 100%;
   visibility: visible;
  }
} */
#thanks{
  visibility: hidden;
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-family: cursive;
  font-style: bold;
  animation-delay: 3s;
  animation: HYFThanks 18s;
  animation-fill-mode: forwards;
}
@keyframes HYFThanks {
  from {
    visibility: visible;
    font-size: 30px;
    color: rgb(44, 11, 99);
    left: 13px;
  }
  to {
    font-size: 65px;
    left: 200px;
    color: rgb(69, 16, 71);
    visibility: visible;
  }
}
