body {
  margin: 0;
  padding: 0;
  /* background-image: url('HYFgrouppic.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;  */
    /* overflow: hidden; */
}
h1{
    margin:auto;
    color:blue;
   

    font-size:40px;   
}

img {
  width: 200px;
  height: 200px;
  /*  border: 1px solid gray; */
  border-radius: 50%;
  transition: transform, opacity;
  transition-duration: 5s;
/*   position: relative; */
}
/* #indigo {
  transform: translateY(-400px);
} */
